---
import '../styles/globals.css';
import NavBar from '../components/NavBar';
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <script is:inline>
            // Theme initialization
            const theme = localStorage.getItem('theme');
            if (!theme) {
                localStorage.setItem('theme', 'dark');
            }
            if (theme === 'light') {
                document.documentElement.classList.remove('dark');
            } else {
                document.documentElement.classList.add('dark');
            }

            // Language initialization
            const validLanguages = ['es', 'ca', 'en'];
            const language = localStorage.getItem('language');
            if (!language) {
                const browserLang = navigator.language.split('-')[0];
                const defaultLang = validLanguages.includes(browserLang) ? browserLang : 'en';
                localStorage.setItem('language', defaultLang);
            }
        </script>
    </head>
    <body class="bg-background text-foreground">
        <NavBar client:load />
        <slot />
    </body>
</html>